<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><%= @page_title %></title>
	<link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="/jquery.js" type="text/javascript" charset="utf-8"></script>
	<% @extra_js.each do |js| %>
	<script src="<%= js %>" type="text/javascript" charset="utf-8"></script>
	<% end %>
	<% if @script_data.length > 0 %>
	<script type="text/javascript">
	  <%= @script_data %>
	</script>
	
	<% end %>
</head>

<body>
  <div id="surrounding">
  	<div id="header">
  		<h1><a href="/"><%= $options[:db_name].capitalize %> forum</a> - <%= $options[:this_user].name %></h1>
  	</div>
  	<div id="content">
  		<%= yield %>
  	</div>
  </div>
</body>
</html>
