<div class="menu">
  <a href="/post_create/<%= @thread.key %>">reply</a>
</div>

<h2><%= @thread.title %></h2>
<div id="posts">
  <% @posts.each do |post| %>  
  	<div class="post"<%= " style=\"background-color: #edf4f4\"" if post == @most_recent_post %>>
  	  <p class="contents"><%= post.contents %></p>
  	  <p class="details"><%= post.user.name %> <%= post.created_at.strftime("%I:%M%p %d/%m/%Y") %></p>
  	</div>
  <% end %>
</div>